header {
            background-color: #007BFF;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            font-family: 'Poppins', sans-serif; /* Apply Poppins font */
        }

        /* Style the mail icon */
        .mail-icon {
            font-size: 1.5rem;
            margin-right: 10px;
        }

        /* Style the main content */
        .main-content {
            text-align: center;
            padding: 20px;
            font-family: 'Poppins', sans-serif; /* Apply Poppins font */
        }

        h1 {
            font-size: 2.5rem;
            margin: 0;
        }

        /* Style the "Get Started" button */
        .get-started-button {
            background-color: #007BFF; /* Blue color */
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 1.2rem;
            cursor: pointer;
            transition: background-color 0.3s ease; /* Add a smooth transition effect */
        }

        .get-started-button:hover {
            background-color: #0056b3; /* Darker blue on hover */
        }

        /* Style the navigation links */
        nav {
            text-align: center;
            margin-top: 20px;
        }

        nav a {
            text-decoration: none;
            color: #fff;
            margin: 0 20px;
            font-size: 1.2rem;
            font-weight: bold;
            font-family: 'Poppins', sans-serif; /* Apply Poppins font */
        }

        /* Style the paragraph text */
        p {
            font-size: 1.5rem;
        }
.contact-info {
    background-color: rgba(255, 255, 255, 0.7); /* Black background with 70% opacity */
    color: #f13030; /* White text color */
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}


form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
.whatsapp-button {
    background-color: #007BFF; /* Blue background color */
    color: #fff; /* White text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}